<h1>Editing advantage</h1>

<%= render "form", advantage: @advantage %>

<br>

<div>
  <%= link_to "Show this advantage", @advantage %> |
  <%= link_to "Back to advantages", advantages_path %>
</div>
