<h1>Editing disadvantage</h1>

<%= render "form", disadvantage: @disadvantage %>

<br>

<div>
  <%= link_to "Show this disadvantage", @disadvantage %> |
  <%= link_to "Back to disadvantages", disadvantages_path %>
</div>
