

    <header>
      <h1>Welcome to GURPS Character</h1>
    </header>
    <main>
      <p>This website is a tool for managing characters in the GURPS tabletop roleplaying game.</p>
      <p>Check out the <a href="/about">about page</a> to learn more about the data used on this site.</p>
      <p>Also take a look at: </p> <ul><li><a href="/spells">spells</a></li><li><a href="/skills">skills</a></li><li><a href="/advantages">advantages</a></li><li><a href="/disadvantages">disadvantages</a></li><li><a href="/characters">characters</a></li></ul>
      <h2>Create a new character</h2>
      <form action="/characters" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <input type="submit" value="Create character">
      </form>
    </main>

